/* Reset básico para remover margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #007bff;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #fff;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

ul {
  list-style: disc;
  margin-left: 30px;
}

ol {
  list-style: decimal;
  margin-left: 30px;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #011d3b;
}

/* Adicional para o M_C Play Section */
section ul:last-child {
  margin-top: 40px;
}

/* Adicional para a imagem */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}